/* comfortaa-regular - latin */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/comfortaa-v37-latin/comfortaa-v37-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./assets/fonts/comfortaa-v37-latin/comfortaa-v37-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/comfortaa-v37-latin/comfortaa-v37-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/comfortaa-v37-latin/comfortaa-v37-latin-regular.woff') format('woff'), /* Modern Browsers */ url('./assets/fonts/comfortaa-v37-latin/comfortaa-v37-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('./assets/fonts/comfortaa-v37-latin/comfortaa-v37-latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}

/* gafata-regular - latin */
@font-face {
    font-family: 'Gafata';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/gafata-v14-latin/gafata-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./assets/fonts/gafata-v14-latin/gafata-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/gafata-v14-latin/gafata-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/gafata-v14-latin/gafata-v14-latin-regular.woff') format('woff'), /* Modern Browsers */ url('./assets/fonts/gafata-v14-latin/gafata-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('./assets/fonts/gafata-v14-latin/gafata-v14-latin-regular.svg#Gafata') format('svg'); /* Legacy iOS */
}

:root {
    font-family: "Comfortaa", sans-serif;
    line-height: 1.6rem;
    scroll-behavior: smooth;

    --color1: silver;
    --color2: #0099ff;
    --color3: #666666;
    --color4: white;

    --border1: 1px solid silver;
    --radius1: 0.6rem;
}

.cv {
    height: 100%;
    position: relative;
}

.cv a {
    text-decoration: none;
    color: var(--color2);
}

.cv a:hover {
    text-decoration: underline;
}

.cv .header {
}

/* // --- nav */

.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.nav .nav-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 1rem 0 0.6rem 0;
    column-gap: 0;
    row-gap: 1rem;
    transition: display 1s ease;
    background-color: var(--color4);
    z-index: 1;
    border-bottom: 1px solid #666666;
}

@media (max-width: 768px) {

    .nav.active {
        height: 100%;
        width: 100%;
        background-color: transparent;
        position: fixed;
        z-index: 1;
        transition: top 1s ease;
    }

    .nav {
        display: none;
    }

    .nav .nav-list {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: rgba(239, 239, 230, 0.97);
        width: 100%;
        padding: 2rem;
        z-index: 2;
        height: fit-content;
    }

    .nav.active {
        display: inline-flex;
    }

    .nav.active .nav-list {
        position: sticky;
    }
}

.nav .nav-list .nav-list__elem {
    padding: 0.1rem 0.5rem;
    text-transform: uppercase;
}

/* // --- */

.cv .header .hero {
    display: flex;
    column-gap: 3rem;
    justify-content: center;
}

@media (max-width: 768px) {
    .cv .header .hero {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .cv .header .hero .hero__logo-box {
        display: flex;
        justify-content: center;
    }
}

.cv .header .hero .hero__logo-box img {
    border: 0 solid transparent;
    border-radius: 1rem;
}

.cv .header .hero .hero__txt-box {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1.3rem;
}

@media (max-width: 768px) {
    .cv .header .hero .hero__txt-box {
        align-items: center;
    }
}

.cv .header .hero .hero__txt-box .txt-box__title {
    font-family: "Gafata", sans-serif;
    font-size: 3rem;
    line-height: 3.5rem;
}

.cv .header .hero .hero__txt-box .txt-box__subtitle {
    font-size: 1.3rem;
}

.cv .header .hero .hero__txt-box .txt-box__icons {
    display: flex;
    column-gap: 1.8rem;
}

.cv .header .hero .hero__txt-box .txt-box__icons img {
    width: 2.4rem;
    height: 2.4rem;
    padding-top: 1rem;
}

.aname {
    text-align: center;
}

.aname .aname__name2 {

}

.anim-menu {
    display: flex;
    justify-content: center;
}

.anim-menu .anim-menu__item {
    display: inline-flex;
    cursor: pointer;
}

.anim-menu .anim-menu__item .anim-menu__icon {
    display: inline-flex;
    border: 1px solid silver;
    justify-content: center;
    align-items: center;
}

.anim-menu .anim-menu__item .anim-menu__text {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    width: 0;
    color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    transition: width 1s ease, color 1s;
}

.anim-menu .anim-menu__item:hover .anim-menu__text {
    width: 200px;
    color: black;
    transition: width 0.5s ease, color 0.5s;
}

.anim-menu .anim-menu__item .anim-menu__icon img {
    width: 2rem;
    height: 2rem;
}

/* // --- contacts */

.cv .sec-contacts {
    display: flex;
    flex-direction: column;
}

.cv .sec-contacts__body {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 0.8fr 0.7fr;
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
    align-self: center;
    width: fit-content;
}

@media (max-width: 1024px) {
    .cv .sec-contacts__body {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .cv .sec-contacts__body {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 620px) {
    .cv .sec-contacts__body {
        grid-template-columns: 1fr;
    }
}


/* // --- */

.cv .sec-contacts__body .sec-contacts__item {
    display: inline-flex;
    column-gap: 1rem;
    width: fit-content;
}

.cv .sec-contacts__body .sec-contacts__item .sec-contacts__img {
    width: 2.2rem;
    height: 2.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cv .sec-contacts__body .sec-contacts__item .sec-contacts__img img {
    width: 2rem;
    height: 2rem;
}

.cv .skills-box .skills-box__title {
    border: var(--border1);
    margin-bottom: 0;
    padding: 0.5rem 1.5rem;
    background-color: #fff9c4;
    border-top-left-radius: var(--radius1);
    border-top-right-radius: var(--radius1);
    font-size: 0.9rem;
}

.cv .skills-box .skills-box__items {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    border-right: var(--border1);
    border-left: var(--border1);
    border-bottom: var(--border1);
    padding: 1rem 3rem;
    border-bottom-right-radius: var(--radius1);
    border-bottom-left-radius: var(--radius1);
}

.cv .footer {
    height: 1200px;
}


.sec {
    margin-top: 3rem;
}

.sec .sec__body {
    padding-left: 2rem;
    padding-right: 2rem;
}

.sec .sec__header {
    position: relative;
    margin-bottom: 2.2rem;
    text-transform: uppercase;
    color: var(--color3);
    padding-top: 1rem;
}

.sec .sec__header::after {
    content: "";
    height: 0.12rem;
    width: 100%;
    background-color: var(--color1);
    position: absolute;
    bottom: -0.5rem;
    left: -0.3rem;
    right: 0.3rem;
}

/* // --- */

.mt-b {
    margin-top: 1rem;
}

.mt-c {
    margin-top: 5rem;
}

.mt-d {
    margin-top: 2rem;
}

.mt-e {
    margin-top: 2rem;
}

.dv1 {
    height: 1rem;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


