/*!
  Theme: a11y-light
  Author: @ericwbailey
  Maintainer: @ericwbailey

  Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
*/

.hljs {
    background: #fefefe;
    color: #545454;
}

/* Comment */
.hljs-comment,
.hljs-quote {
    color: #696969;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
    color: #d91e18;
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #aa5d00;
}

/* Yellow */
.hljs-attribute {
    color: #aa5d00;
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #008000;
}

/* Blue */
.hljs-title,
.hljs-section {
    color: #007faa;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #7928a1;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
    .hljs-addition,
    .hljs-attribute,
    .hljs-built_in,
    .hljs-bullet,
    .hljs-comment,
    .hljs-link,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-params,
    .hljs-string,
    .hljs-symbol,
    .hljs-type,
    .hljs-quote {
        color: highlight;
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: bold;
    }
}


/* --- dark */

body.dark-theme pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

body.dark-theme code.hljs {
    padding: 3px 5px
}

/*!
  Theme: a11y-dark
  Author: @ericwbailey
  Maintainer: @ericwbailey

  Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
*/
body.dark-theme .hljs {
    background: #2b2b2b;
    color: #f8f8f2
}

body.dark-theme .hljs-comment, body.dark-theme .hljs-quote {
    color: #d4d0ab
}

body.dark-theme .hljs-deletion, body.dark-theme .hljs-name, body.dark-theme .hljs-regexp, body.dark-theme .hljs-selector-class, body.dark-theme .hljs-selector-id, body.dark-theme .hljs-tag, body.dark-theme .hljs-template-variable, body.dark-theme .hljs-variable {
    color: #ffa07a
}

body.dark-theme .hljs-built_in, body.dark-theme .hljs-link, body.dark-theme .hljs-literal, body.dark-theme .hljs-meta, body.dark-theme .hljs-number, body.dark-theme .hljs-params, body.dark-theme .hljs-type {
    color: #f5ab35
}

body.dark-theme .hljs-attribute {
    color: gold
}

body.dark-theme .hljs-addition, body.dark-theme .hljs-bullet, body.dark-theme .hljs-string, body.dark-theme .hljs-symbol {
    color: #abe338
}

body.dark-theme .hljs-section, body.dark-theme .hljs-title {
    color: #00e0e0
}

body.dark-theme .hljs-keyword, body.dark-theme .hljs-selector-tag {
    color: #dcc6e0
}

body.dark-theme .hljs-emphasis {
    font-style: italic
}

body.dark-theme .hljs-strong {
    font-weight: 700
}

@media screen and (-ms-high-contrast: active) {
    body.dark-theme .hljs-addition, body.dark-theme .hljs-attribute, body.dark-theme .hljs-built_in, body.dark-theme .hljs-bullet, body.dark-theme .hljs-comment, body.dark-theme .hljs-link, body.dark-theme .hljs-literal, body.dark-theme .hljs-meta, body.dark-theme .hljs-number, body.dark-theme .hljs-params, body.dark-theme .hljs-quote, body.dark-theme .hljs-string, body.dark-theme .hljs-symbol, body.dark-theme .hljs-type {
        color: highlight
    }

    body.dark-theme .hljs-keyword, body.dark-theme .hljs-selector-tag {
        font-weight: 700
    }
}

